.Desktop1 {
    background: white;
    background: linear-gradient(90deg, rgb(52, 152, 219), rgb(169, 79, 83));
  
}
.AndroidSmall1 {
    padding-top: 303.97px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 17px;
    position: absolute;
    background: black;
    border-radius: 18px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    display: inline-flex;
    left: 50%;
    top: 53%;
<<<<<<< HEAD
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  
}
#display{
    color: #FFff;   
    font-size: 50px;
    background-color: black;
    border: 1px black;
    text-align: right;
    height: 60px;
    width: 315px;

}

  /* CSS for button animation */
  button {
    transition: background-color 0.2s, box-shadow 0.2s;
  }

  button:hover {
    background-color: #E0E0E0; /* Change the background color on hover */
  }

  button:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); /* Add a box-shadow when the button is active (pressed) */
  }

=======
    transform: translate(-50%, -50%)
  
}
>>>>>>> f072be640d6d30598f1d698f6536e4e5271dd133


    
     

